.outerBox{
    width: 400px;
    height: 400px; 
    background-color: grey;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.topBox{
    height: 100px;
    width: 100px;
    background-color: red;
    align-self: flex-start;
}

.bottomBox{
    height: 100px;
    width: 100px;
    background-color: green;
    align-self: flex-end;
}


.middleBox{
    height: 100px;
    width: 100px;
    background-color: blue;
}